body {
  background-image: url('../img/rose-6870.gif'), url('../img/cat-974.gif');
  background-position: right bottom, center;
  background-attachment: fixed;
  background-size: 25%, cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.container {
  max-width: 1440px;
  padding: 36px 156px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn {
  position: relative;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: transparent;

  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04rem;

  background: rgb(255, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(251, 72, 2, 1) 100%
  );
}

.pagination-item.active {
  color: #f0094a;
  background: transparent;
  box-shadow: none;
  border: 1px solid #f0094a;
}

.pagination-item {
  cursor: pointer;
}

.dots {
  color: #fff;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.btn:hover {
  color: #f0094a;
  background: transparent;
  box-shadow: none;
  border: none;
}
.btn:before,
.btn:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #f0094a;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btn:hover:before,
.btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.btn-load {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
}

.input-field {
  padding: 8px 16px;

  border-radius: 4px;
  border: 1px solid #fff;

  color: #f0094a;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04rem;
  width: 272px;

  background-color: transparent;
  transition: 400ms ease all;
}
.input-field:hover {
  border: 1px solid #000;
}

.input-field:focus {
  border: 1px solid rgb(255, 0, 0);
}

.input-field::placeholder {
  color: #fff;
}

.iziToast > .iziToast-body .iziToast-message {
  font-family: 'Montserrat', sans-serif;
}

.iziToast > .iziToast-close {
  background: url('../img/icon-close-white.svg') no-repeat 50% 50% !important;
  background-size: 16px !important;
}

.iziToast-close.custom-close {
  background: url('../img/icon-close.svg') no-repeat 50% 50% !important;
}
