.container-images {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  gap: 24px;
  flex-wrap: wrap;

  max-width: 1440px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
}

.gallery-item img {
  height: 200px;
}

.block-info {
  background: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 4px 20px;
}

li {
  display: block;
}

li p {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.caption-text {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
